.toursDescription {
  //min-width: $width;
  //height: 1430px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.toursDescription--reverse {
  padding-top: 45px;
  padding-bottom: 45px;
}
.toursDescription--dark {
  background: #1d4049;
}
.toursDescription--light {
  background: white;
}
.toursDescription_number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 210px;
  line-height: 256px;
  /* identical to box height */

  color: rgba(252, 85, 33, 0.3);
}
.toursDescription_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  margin-left: 96px;
  margin-top: -90px;
}
.toursTitle-light {
  color: white;
}
.toursTitle-dark {
  color: #1d4049;
}
.toursDescription_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  margin-top: 68px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}
.toursText-light {
  color: white;
}
.toursText-dark {
  color: #1d4049;
}
.toursDescription_image {
  margin-left: 20px;
  width: 344px;
  height: 594px;
  border-radius: 0px 100px;
  overflow: hidden;
}
.toursDescription_image img {
  position: relative;
  z-index: 3;
}
.toursDescription_frame {
  position: relative;
  left: 10px;
  top: -582px;
  border: 3px solid #fc5521;
  box-sizing: border-box;
  border-radius: 0px 100px;
  width: 342px;
  height: 594px;
  z-index: 2;
}
.toursDescription_link {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  margin-top: -520px;
}
.toursLink {
  /* identical to box height, or 36px */
  margin-left: 15px;
  margin-right: 25px;
  /* Orange */

  color: #fc5521;
  text-decoration: none;
}
@media screen and (min-width: 920px) {
  .toursDescription {
    display: flex;
  }
  .toursDescription--reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .toursDescription_block {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toursDescription--light {
    background: #1d4049;
  }
  .toursText-dark {
    color: #fff;
  }
  .toursTitle-dark {
    color: #fff;
  }
}
